/* all common shared styles */
body {
    font-family: 'Lato', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 45px;
    color: white;
    font-size: 15px;
}

/* banner section starts from here  */
.banner {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
    align-items: center;

}

.banner-content {
    margin-left: 240px;

}

.banner-main-pic {
    margin-right: 240px;
}

.banner-slogan {
    color: #272727;
    font-weight: 800;
    font-size: 80px;
    padding-bottom: 0px;

    
}

.banner-description {
    color: #272727;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
    
}

.banner-main-pic {
    width: 635px;
}